.menu{
    display: flex;
    justify-content:space-between;
    background-color:rgb(0, 0, 0);
    font-size: 20px;
    font-family:sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}


.grid{
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px solid black;
    border-radius: 20px;
}

.origami{
justify-content:space-around;    
    border-radius: 10px; 
    background-color: rgb(246, 122, 64);
    width: 310px;
    font-family:cursive ;
}

.body{
    justify-content: center;
    border-radius: 10px; 
    background-color: rgb(255, 106, 106);
    font-family:cursive;
    color: rgb(0, 0, 0);
}

.h2{
    display: flex;
    justify-content: center;
    background-color: rgb(226, 28, 133);
}
.examples{
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 122, 64);
    width: 310px;
    font-family: cursive;
}
.item{
    display: flex;
    border-radius: 10px;
    background-color: rgb(255, 122, 64);
    width: 310px;
    font-family: cursive;
}